<p id="notice"><%= notice %></p>

<p>
  <b>Test:</b>
  <%= @question.test_id %>
</p>

<p>
  <b>Description:</b>
  <%= @question.description %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
