<p id="notice"><%= notice %></p>

<p>
  <b>Test:</b>
  <%= link_to @test.name, test_path(@test) %>
</p>

<p>
  <b>Description:</b>
  <%= @question.description %>
</p>


<%= link_to 'Edit', edit_test_question_path(@test,@question) %> |
<%= link_to 'Back', test_path(@test) %>
