<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @prova.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @prova.descricao %>
</p>


<%= link_to 'Edit', edit_prova_path(@prova) %> |
<%= link_to 'Back', provas_path %>
