<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test.name %>
</p>

<p>
  <b>Description:</b>
  <%= @test.description %>
</p>


<p>
    <table>
      <b>Questions:</b>
      <tr>
        <th>Description</th>
      </tr>
      <% @test.questions.each do |question| %>
        <tr>
          <td><%= question.description %></td>
        </tr>
      <% end %>
    </table>
<%= link_to 'New Question', new_test_question_path(@test) %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
